@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* Dark mode color scheme */
    @media (prefers-color-scheme: dark) {
        :root {
            color-scheme: dark;
        }
    }
}